<fieldset ngModelGroup="preferences">
  <legend>Préférences Mission</legend>

  <table>
    
    <tr>
      <td>
        <div class="form-group-center">
          <label for="cdi">CDI</label>
          <input type="radio" id="cdi" name="missionType" value="cdi" ngModel />
        </div>
      </td>
    </tr>


    <tr>
      <td>
        <div class="form-group">
          <label for="freelance">Freelance</label>
          <input type="radio" id="freelance" name="missionType" value="freelance" ngModel />
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <label for="available">Disponible immédiatement</label>
          <input type="checkbox" id="available" name="available" ngModel />
        </div>
      </td>
    </tr>
  </table>

</fieldset>

