
fieldset {
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 20px 25px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

fieldset legend {
    font-weight: bold;
    color: #01070e;
    padding: 0 10px;
    font-size: 18px;
}


.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    flex-direction: row;
    gap: 15px;
}


.form-group-center{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    flex-direction: row;
    gap: 15px;
}



.form-group label {
    margin-right: 10px;
    font-size: 16px;
    color: #333;
}


.form-group input[type="radio"]{
     width: 18px;
    height: 18px;
    cursor: pointer;
    accent-color: #e4e7ea; 
  
     margin-left: 115px;
   display: flex;
   align-items: center;
   justify-content: center;
   row-gap: 10px;
}


.form-group-center input[type="radio"]{
     width: 18px;
    height: 18px;
    cursor: pointer;
    accent-color: #e4e7ea; 
    margin-left: 160px;
   display: flex;
   align-items: center;
   justify-content: center;
   row-gap: 10px;
}



.form-group input[type="checkbox"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
    accent-color: #e4e7ea; 
    margin-right: 8px;
   display: flex;
   align-items: center;
   justify-content: center;
   row-gap: 10px;
}


