<fieldset ngModelGroup="preferences">
  <legend>Préférences Mission</legend>

 
 <div class="form-group">
    <label>CDI</label>
      <input type="radio" name="missionType" value="cdi" ngModel />
  </div>

  <div class="form-group">
    <label>Freelance</label>
      <input type="radio" name="missionType" value="freelance" ngModel />
     
  </div>

  <div class="form-group">
    <label>Disponible immédiatement </label>
      <input type="checkbox" name="available" ngModel />
       
  </div>
</fieldset>

